.hero {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
}

.hero__title {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  justify-content: space-evenly;
}
