.main-nav {
  overflow: hidden;
  display: block;
  border: solid 1px white;
  background-color: black;
  opacity: 0.3;
  position: relative;
}

.site-list__item {
  overflow: hidden;
  display: block;
  border: solid 1px white;
  background-color: black;
  opacity: 0.3;
  position: relative;
  color: white;
  align-items: center;
}

.main-nav__toggle {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}


