.page-header {
  background-color: $main-color;
  padding: 22px 20px;
}

.page-header__block {
  display: flex;
  justify-content: space-between;
}

.page-header__toggle {
  @include inpress;

  background-image: url("../img/icon-menu-burger.svg");
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

