.page-header {
  background-image: url("source/img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.page-header__logo-image {
  margin-left: 20px;
  margin-bottom: 22px;
  margin-top: 22px;
}

.hero-title {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}
