.page-header__block {
  display: flex;
  flex-direction: row;
  color: #283645;
  width: 320px;
  height: 66px;
  position: absolute;
}

.page-header__logo-image {
  margin-left: 20px;
  margin-bottom: 22px;
  margin-top: 22px;
}

.page-header__toggle {
    border: none;
    padding: 0;
    background-color: transparent;

    width: 30px;
    height: 30px;
    cursor: pointer;
}

