.site-list {
  @include ulres;
}

.site-list__link {
  display: block;
  padding: 22px 10px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  list-style: none;
  box-shadow: 0px 1px 0 0 #000000, inset 0px 1px 0 0 rgba(255, 255, 255, 0.15);
  font-weight: 700;
}
