@mixin ulres {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin inpress {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  font: inherit;
}

@mixin FontBold {
  font-style: normal;
  font-weight: 600;
}

@mixin link {
  color: #d22856;
}
