html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  min-width: 320px;
  background-color: #ffffff;
  font-size: 14px;
  font-family: $main-font;
  line-height: normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
